[submodule "third-party/mruby"]
	path = third-party/mruby
	url = https://github.com/vuljector/mruby
[submodule "third-party/neverbleed"]
	path = third-party/neverbleed
	url = https://github.com/vuljector/neverbleed
	branch = nghttp2
[submodule "tests/munit"]
	path = tests/munit
	url = https://github.com/vuljector/munit
[submodule "third-party/urlparse"]
	path = third-party/urlparse
	url = https://github.com/vuljector/urlparse
